<h4>Справка</h4> <a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=7558" target="_blank">Тема на форуме</a>
    <div style="width:98%">
        <p>Модуль предназначен для взаимодействия с автосигнализациями <strong>Pandora</strong> с GSM-модулем посредством сайта <strong>pro.p-on.ru</strong>.</p>
        <p><strong>Возможности модуля:</strong></p>
        <ul>
        <li>Получение состояния авто;</li>
        <li>Отправка команд сигнализации.</li>
        </ul>
		<p>Так как <strong>ООО «Пандора Трейд»</strong> не предоставляет официального API для интеграции своих охранных систем, поэтому все взаимодействие написано на основе реверс-инжиниринга запросов к ресурсу <strong>pro.p-on.ru</strong> и в целом повторяет функционал данного ресурса.</p>
       	<p>В модуле имеется цикл, который раз в указанное пользователем количество секунд опрашивает ресурс, чтобы получить информацию о состоянии автомобиля.</p>
        <p>Для подключения устройств, вам необходимо ввести в настройках имя пользователя и пароль для подключения к ресурсу <strong>pro.p-on.ru</strong> и установить время опроса. После ввода правильных данных в модуле появятся все устройства, подключенные к вашей учетной записи и, после запуска цикла, начнет обновляться информация по устройствам.</p>
		<p>В дальнейшем значения и команды можно привязать к <strong>созданным вами самостоятельно</strong> свойствам или методам, для обработки полученной информации или отправки команд.</p>
		<p>Команды, которые можно включать/отключать, принимают на вход, соответственно 1/0, остальные команды принимают на вход <strong>любое</strong> значение.</p>
		<p>При наличии в сигнализации <strong>GPS-модуля</strong>, данные, посредством данного модуля, автоматически передаются в модуль <strong>GPS-трекер</strong>.</p>
		<p>Если на сервере используется <strong>х86</strong> версия РНР, модуль сообщит об этом и попросит активировать расширение <strong>gmp</strong>. Без активации модуль продолжит работу, но часть информации, полученной от сервиса, может быть некорректной.</p>
		<p>Для установки модуля на <strong>Linux</strong>, необходимо установить пакет phpXX-gmp, где ХХ - версия установленного PHP. На <strong>Windows</strong> нужно в файл php.ini по пути c:\_majordomo\server\config_tpl\ раскомментировать строку extension=gmp. После этого нужно перезагрузить устройство.</p>
		<strong>
		<p><u>ОТКАЗ ОТ ОТВЕТСТВЕННОСТИ</u></p>
		<p>Разработчик модуля никак не связан с изготовителем автосигнализаций ООО «Пандора Трейд» и не несет ответственности за ненадлежащее использование данного модуля с автосигнализациями данного производителя, равно как и не несет ответственности за возможность несанкционированного доступа к автомобилю посредством данного модуля. Данный модуль используется вами на свой страх и риск!</p>
		</strong>
	 </div>
<div>
   <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><#LANG_STRING_BACK#></a>
</div>